name: Discord Webhook

on:
  push:
    branches: [main]
  
  release:
    types: [published]
    
  pull_request_target:
    types: [assigned, opened, synchronize, reopened]
  
jobs:
  git:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Run Discord Webhook
      uses: johnnyhuy/actions-discord-git-webhook@main
      with:
        webhook_url: https://discord.com/api/webhooks/919966391472390194/OIwNHeR4lXF_Lp63yZj2p9yQ2OXdHsJTGzTf1DV7X0e7FSyXVYeyF7KlWZoi8Id_PvTc
